.cell {
  display: flex;
  border: 3px solid #656b77;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
}

.easy {
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  @media (max-width: 700px) {
    width: 40px;
    height: 40px;
    font-size: 0.8rem;
  }
  @media (max-width: 500px) {
    width: 35px;
    height: 35px;
  }
}
.medium {
  width: 30px;
  height: 30px;
  @media (max-width: 1150px) {
    font-size: 0.6rem;
    width: 28px;
    height: 28px;
  }

  @media (max-width: 390px) {
    font-size: 0.5rem;
    width: 22px;
    height: 22px;
  }
}
.hard {
  width: 35px;
  height: 35px;
  @media (max-width: 1150px) {
    font-size: 0.5rem;
    width: 30px;
    height: 30px;
  }
  @media (max-width: 1000px) {
    width: 30px;
    height: 30px;
  }
  @media (max-width: 700px) {
    width: 18px;
    height: 18px;
  }
  @media (max-width: 500px) {
    font-size: 0.3rem;
    width: 18px;
    height: 18px;
  }

  @media (max-width: 330px) {
    font-size: 0.3rem;
    width: 15px;
    height: 15px;
  }
}
